body{
    background-color: #f9f9f9;
}
main{
    width:100vw;
}
.blob{
top:0;
right:0;
}
.curve{
    position:fixed;
    margin:0;
    bottom:-5%;
    width:100%;
    background:transparent;
}
.fixed-table-toolbar{
    display:flex!important;
    justify-content:space-between;

}

.fixed-table-toolbar button{
    border:none!important;
    border-radius:none!important;
    padding:5px 10px;
    margin-left:20px;
}

..fixed-table-toolbar .search{
    border:2px solid #152E4D!important;
}
::placeholder{
    font-weight:bold;
    font-style:italics;
    font-size:2rem;
}