<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Account | Dashboard </title>
    <link href="assets/img/firstBanklogo-no-bg.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="/css/fresh-bootstrap-table.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>
<body class="bg-light w-100">
<header id="header" class="w-100 bg-white py-0 d-block">
    <div class="container d-flex align-items-center mb-5 justify-content-between">
        <a th:href="@{/Account}" class="logo mb-0 me-10"><img src="/assets/img/firstBanklogo-no-bg.png" alt="" class="img-fluid"></a>
        <nav id="navbar" class="navbar ms-10">
            <ul>
                <li><a class="nav-link text-elephant-purple text-bold fs-3">ACCOUNT MANAGEMENT SYSTEM</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle mb-0"></i>
        </nav>
    </div>
</header>
<div th:if="${message}" class="alert top-0  container fs-3 alert-success alert-dismissible show" role="alert">
    <strong th:text="${message}"></strong> <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    <main class="mt-5 bg-tertiary">
        <div class="w-100  container">
             <div class="d-flex flex-wrap h-25 w-100">
            <div class="mx-5  col col-lg-5 col-md-6 shadow col-sm-11  py-3 ps-0 pe-3 mb-5 align-items-center bg-body-white rounded" style="border-left:#152E4D solid 12px;">
                <div class="d-flex align-text-bottom ms-0 me-5">
                    <div class="col-3 mb-0 bg-opacity-3 rounded-5 color-elephant-yellow text-elephant-purple align-middle">
                        <h1  class="mb-0 fs-1 p-3 text-center text-align-middle">S</h1>
                    </div>

                    <div class="col-8 mx-3">
                        <div class="my-2 text-align-center">
                            <p class="mb-0 text-secondary">Brief of Savings Account</p>
                            <div class="d-flex mb-0 text-success align-text-bottom-">
                                <h4 class="my-1 text-danger" style="font-size:3.5rem!important;">&#8358;<span th:text="${totalSavings}"></span></h4>
                            </div>
                        </div>
                        <div class="d-flex mb-0  align-text-bottom"><p class="mb-0 font-13"><span th:text="${countedSavings}"></span> Account Active</p></div>
                    </div>
                </div>
            </div>
            <div class="mx-5  col col-lg-5 col-md-6 shadow col-sm-11  py-3 ps-0 pe-3 mb-5 align-items-center bg-body-white rounded" style="border-left:#152E4D solid 12px;">
                <div class="d-flex align-text-bottom ms-0 me-5">
                    <div class="col-3 mb-0 bg-opacity-3 rounded-5 color-elephant-yellow text-elephant-purple align-middle">
                        <h1  class="mb-0 fs-1 p-3 text-center text-align-middle">C</h1>
                    </div>

                    <div class="col-8 mx-3">
                        <div class="my-2 text-align-center">
                            <p class="mb-0 text-secondary">Brief of Current Account</p>
                            <div class="d-flex mb-0 text-success align-text-bottom-">
                                <h4 class="my-1 text-danger" style="font-size:3.5rem!important;">&#8358;<span th:text="${totalCurrent}"></span></h4>
                            </div>
                        </div>
                        <div class="d-flex mb-0  align-text-bottom"><p class="mb-0 font-13"><span th:text="${countedCurrent}"></span> Account Active</p></div>
                    </div>
                </div>
            </div>
                 <div class="mx-5  col col-lg-5 col-md-6 shadow col-sm-11  py-3 ps-0 pe-3 mb-5 align-items-center bg-body-white rounded" style="border-left:#152E4D solid 12px;">
                     <div class="d-flex align-text-bottom ms-0 me-5">
                         <div class="col-3 mb-0 bg-opacity-3 rounded-5 color-elephant-yellow text-elephant-purple align-middle">
                             <h1  class="mb-0 fs-1 p-3 text-center text-align-middle">D</h1>
                         </div>

                         <div class="col-8 mx-3">
                             <div class="my-2 text-align-center">
                                 <p class="mb-0 text-secondary">Brief of Domicilliary Account</p>
                                 <div class="d-flex mb-0 text-success align-text-bottom-">
                                     <h4 class="my-1 text-danger" style="font-size:3.5rem!important;">&#8358;<span th:text="${totalDomis}"></span></h4>
                                 </div>
                             </div>
                             <div class="d-flex mb-0  align-text-bottom"><p class="mb-0 font-13"><span th:text="${countedDomi}"></span> Account Active</p></div>
                         </div>
                     </div>
                 </div>
                 <div class="mx-5 col col-lg-5 col-md-6 shadow col-sm-11  py-3 ps-0 pe-3 mb-5 align-items-center bg-body-white rounded" style="border-left:#152E4D solid 12px;">
                     <div class="d-flex align-text-bottom ms-0 me-5">
                         <div class="col-3 mb-0 bg-opacity-3 rounded-5 color-elephant-yellow text-elephant-purple align-middle">
                             <h1  class="mb-0 fs-1 p-3 text-center text-align-middle">S</h1>
                         </div>

                         <div class="col-8 mx-3">
                             <div class="my-2 text-align-center">
                                 <p class="mb-0 text-secondary">Brief of Salary Account</p>
                                 <div class="d-flex mb-0 text-success align-text-bottom-">
                                     <h4 class="my-1 text-danger" style="font-size:3.5rem!important;">&#8358;<span th:text="${totalSalary}"></span></h4>
                                 </div>
                             </div>
                             <div class="d-flex mb-0  align-text-bottom"><p class="mb-0 font-13"><span th:text="${countedSalary}"></span> Account Active</p></div>
                         </div>
                     </div>
                 </div>
             </div>
        </div>
        <div class="w-100">
            <div class="d-flex">
                <div class="col-lg-9">
                    <div class="fresh-table full-color-orange shadow p-3 mb-5 color-elephat-purple rounded" >
                        <div class="toolbar">
                            <a th:href="@{/Account/create}" class="btn rounded-0 border-0 color-elephant-purple text-light">Create New Account</a>
                        </div>
                        <table id="fresh-table" class="table fs-2">

                            <thead>
                            <th data-field="id">ID</th>
                            <th data-field="name">Name</th>
                            <th data-field="account">AccountType</th>
                            <th data-field="amount">Amount</th>
                            <th data-field="actions" >Actions</th>

                            </thead>
                            <tbody>
                            <tr class="fs-3" th:each="account:${accounts}">
                                <td th:text="${account.id}">1</td>
                                <td th:text="${account.name}">Martins</td>
                                <td th:text="${account.type}">Savings</td>
                                <td > &#8358;<span  th:text="${account.amount}"></span></td>
                                <td class="text-center my-2 mx-3"><a th:href="@{/Account/view(id=${account.id})}" ><i class="fas fa-solid fa-eye me-4 text-elephant-purple fs-2"></i></a>   <a th:href="@{/Account/edit/{id}(id=${account.id})}" > <i class="fa fs-2 fa-edit me-4 text-elephant-purple"></i></a>
                                    <button type="button" class="btn border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                        <i class="fas fa-solid fa-trash-can text-elephant-purple fs-2 "></i>
                                    </button></td>
                                <div class="modal" id="staticBackdrop"  tabindex="-1" aria-labelledby="staticBackdropLabel">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title fs-1" id="staticBackdropLabel">Delete Account</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="text-bold fs-3" th:text="${'Are you sure you want to delete the'+ account.name +' account?'}">Are you sure you want to delete this account?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary px-4 py-3" data-bs-dismiss="modal">No</button>
                                                <a  class="btn btn-danger px-4 py-3" th:href="@{/Account/delete/{id}(id=${account.id})}">Yes</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="d-flex col-lg-3 col-sm-6 flex-column">
                    <div class="mx-3 shadow p-3 mb-5 bg-body-light rounded">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mx-3 shadow w-100 p-3 mb-5 bg-body-light rounded overflow-scroll">
                        <h4 class="text-center text-success my-3">Top Viable Customers</h4>
                        <table  class="table table-striped fs-5" >
                            <thead>
                            <th>ID</th>
                            <th>Name</th>
                            <th>AccountType</th>
                            <th>Amount</th>
                            </thead>
                            <tbody>
                            <tr  th:each="topaccount :${topAccounts}">
                                <td th:text="${topaccount.id}">1</td>
                                <td th:text="${topaccount.name}">Martins</td>
                                <td th:text="${topaccount.type}">Savings</td>
                                <td>  &#8358;<span  th:text="${topaccount.amount}"><i class="fas fa-solid fa-eye me-4 text-elephant-purple fs-2"></i></span></td>
                                <td class="text-center my-2 mx-3"><a th:href="@{/Account/view(id=${topaccount.id})}" > </a> </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mx-3 shadow w-100 p-3 mb-5 bg-body-light rounded">
                        <div class="d-block w-100 text-light  py-6">
                            <h4>Total Amount of All Accounts</h4>
                            <h1><strong class="text-dark fs-1" th:text="${totalAmount}"></strong></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>
    <footer id="footer">
        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright <strong><span>FirstAcademy</span></strong>. All Rights Reserved
            </div>
            <div class="credits">

                Designed by <a href="#">Software Engineering Group 5</a>
            </div>
        </div>
    </footer>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script type="text/javascript">
        var $table = $('#fresh-table')

        $(function () {
          $table.bootstrapTable({
            classes: 'table table-hover table-striped',
            toolbar: '.toolbar',

            search: true,
            showRefresh: true,
            showToggle: true,
            showColumns: true,
            pagination: true,
            striped: true,
            sortable: true,
            pageSize: 8,
            pageList: [8, 10, 25, 50, 100],

            formatShowingRows: function (pageFrom, pageTo, totalRows) {
              return ''
            },
            formatRecordsPerPage: function (pageNumber) {
              return pageNumber + ' rows visible'
            }
          })
        })

    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script type="text/javascript">

 function splitExtractedData() {
        function extractTableData() {
            const table = document.getElementById("fresh-table");
            const dataRows = table.getElementsByTagName('tbody')[0].getElementsByTagName('tr');
            const dataCounts = {};

            for (const row of dataRows) {
                const type = row.cells[2].textContent;
                dataCounts[type] = (dataCounts[type] || 0) + 1;
            }

            return dataCounts;
        }

        const extractedData = extractTableData();

        const labels = Object.keys(extractedData);
        const dataValues = Object.values(extractedData);

        return { labels: labels, data: dataValues };
    }

    const pieData = splitExtractedData();

    var data = {
        labels: pieData.labels,
        datasets: [{
            data: pieData.data,
            backgroundColor: ["#FF6384", "#36A2EB", "#FFCE56", "FF6549"],
        }]
    };

    var total = data.datasets[0].data.reduce((a, b) => a + b, 0);
    var percentages = data.datasets[0].data.map(value => ((value / total) * 100).toFixed(2));

    var ctx = document.getElementById('myPieChart').getContext('2d');
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: data,
        options: {
            responsive: true,
            legend: {
                position: 'top',
            },
            tooltips: {
                callbacks: {
                    label: function (tooltipItem, data) {
                        var label = data.labels[tooltipItem.index] || '';
                        var value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                        var percentage = percentages[tooltipItem.index] + '%';

                        return `${label}: ${value} (${percentage})`;
                    }
                }
            }
        }
    });
</script>
    <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>
</body>
</html>