<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Account Management System</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/firstBanklogo-no-bg.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">


</head>

<body class="bg-light h-100 w-100" style="height:100vh!important;">

<!-- ======= Header ======= -->
<header id="header" class="">
    <div class="container d-flex align-items-center justify-content-between">
        <a th:href="@{/Account}" class="logo"><img src="/assets/img/firstBanklogo-no-bg.png" alt="" class="img-fluid"></a>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active">ACCOUNT MANAGEMENT SYSTEM</a></li>
                <li><a class="nav-link">ID:<span class="text-danger" th:text="${account.id}"></span><img class="rounded-5"  /> ___ <span th:text="${account.name}"></span></a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

    </div>
</header>
<main class="container bg-tertiary  pt-10" style="align-items:center!important;">
    <div class="mx-auto mt-5 w-75"  style="height:75vh!important;">
        <div class="d-flex mt-5">
            <div class="rounded-3 bg-white col-4 h-75 shadow p-4 mx-5 bg-light align-items-center">
                <img alt="img" th:src="@{'https://robohash.org/' + ${account.name}}"  5 class="w-100 h-100 image-fluid" />
            </div>
            <div class="rounded-3 col-8 bg-white h-75 shadow p-4 mx-5 bg-light">
                <h1 th:text="${account.name}" class="text-tertiary"></h1>
                <h5 ><span th:text="${account.type}"></span> Account</h5>
                <p class="mt-5">Total Account Amount:</p>
                <p style="font-size:4.9rem;" class="text-danger">&#8358;<span  th:text="${account.amount}"></span></p>
            </div>
        </div>
        <div class="w-100 align text-align-center mt-4">
            <div class="d-flex w-100 justify-content-between">
                <div ><a  th:href="@{/Account/dashboard}" class="btn-get-started me-3 color-elephant-yellow fs-3 text-elephant-purple px-2 py-2 btn btn-danger border-0"><< Back to Dashboard</a></div>
                <div class="d-flex flex-wrap">
                    <div><a th:href="@{/Account/edit/{id}(id=${account.id})}" class="text-center text-light btn-get-started me-4 fs-3 px-2 py-2 btn color-elephant-purple">Edit Account</a></div>
                    <div><a  th:href="@{/Account/delete/{id}(id=${account.id})}" class="btn-get-started px-4 py-2 btn fs-3 btn-danger border-0">Delete Account</a></div>
                </div>
            </div>
        </div>

    </div>

    <!-- ======= Footer ======= -->
   <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    </main>
<footer id="footer" class="mb-0">
    <div class="container py-4">
        <div class="copyright">
            &copy; Copyright <strong><span>FirstAcademy</span></strong>. All Rights Reserved
        </div>
        <div class="credits">

            Designed by <a href="#">Software Engineering Group 5</a>
        </div>
    </div>
</footer>
<!-- Vendor JS Files -->
<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>
</body>

</html>