<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Account Management System</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/firstBanklogo-no-bg.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">


</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo"><img src="/assets/img/firstBanklogo-no-bg.png" alt="" class="img-fluid"></a>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active">ACCOUNT MANAGEMENT SYSTEM</a></li>
                <li><a class="nav-link">ID:<span class="text-danger" th:text="${account.id}"></span><img class="rounded-5"  />  <span th:text="${account.name}"></span></a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

    </div>
</header>
<main class="container  p-10 h-100" style="align-items:center!important;">
    <div class="mx-auto mt-10 w-75 h-100"  style="height:100vh;">
        <div class="d-flex mt-5">
            <div class="rounded-3 col-4 p-1 h-75 shadow p-4 bg-light align-items-center">
                <img alt=""  5 class="w-100 h-100 image-fluid" />
            </div>
            <div class="rounded-3  shadow p-4 bg-light">
                <h1 th:text="${account.name}" class="text-danger"></h1>
                <h5 th:text="${account.type}"></h5>
                <p style="font-size:4.9rem;" class="text-danger">&#8358;<span  th:text="${account.amount}"></span></p>
            </div>
        </div>
    </div>


</main>
    <!-- ======= Footer ======= -->
    <footer id="footer">

        </div>
        </div>
        </div>

        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright <strong><span>FirstAcademy</span></strong>. All Rights Reserved
            </div>
            <div class="credits">

                Designed by <a href="#">Software Engineering Group 5</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>
    </main>
</body>

</html>